@charset "UTF-8";
/* CSS Document */

html, body{
    background-color: rgb(235, 230, 230)
}

.blue-col{
    background-color: rgb(149, 202, 255);
    color: black;
}
.red-col{
    background-color: rgb(255, 149, 149);
    color: black;
}
.green-col{
    background-color: rgb(160, 255, 160);
    color: black;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.bg-body-tertiary{
    background-color: rgba(75, 75, 75, 1)!important;
}

.nav-link{
    color: rgba(200, 200, 200, 1)!important; 
}

.nav-link:hover{
    color: #ffffff!important;
}

.navbar-brand{
    color: #ffffff!important; 
}

.active{
    color: #ffffff!important;
}

.navbar-toggler{
filter: invert(100%);
}

h1{
    font-size: 2.0em;
    font-weight: 700;
}

h2{
    font-size: 1.50em;
    font-weight: 550;
}

p{
    font-size: 1.20em;
    font-weight: 400;
}

.footer-cy{
    text-align:center;
}

.btn-primary{
    background-color: rgb(223, 255, 149);
    border: rgb(223, 255, 149);
    color: rgb(23, 67, 50);
}

.btn-primary:hover{
    background-color: rgb(23, 67, 50);
    border: rgb(23, 67, 50);
    color: rgb(223, 255, 149);
}

.card-img-top{
    height:200px;
    object-fit: cover;
}

.carousal-padding{
    padding-left: 120px;
    padding-right:120px;
    color: black;
}

.carousel-control-prev,
.carousel-control-next{
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    height: 32px;
    width: 32px;
    background-color: rgb(23, 67, 50);
}
